header {
    background-color: rgb(132, 41, 3);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main {
    background-color: rgb(143, 143, 3);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer {
    background-color: rgb(1, 90, 108);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}